{% extends 'base.html.twig' %}

{% block title %}Campus Numeric - Actualitées!{% endblock %}

{% block page_title  %} Actualitées {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/components/actualite.css') }}">
{% endblock %}



{% block body %}
    <section class="cards-wrapper">

            {% for event in events %}
                <div class="card-grid-space">
                    <div class="num">{{ event.id }}</div>
                    <a class="card" href="{{ path('app_event_decription', {'slug' : event.slug}) }}" style="--bg-img: url('{{ event.illustration }}')">
                        <div>
                            <h1>{{ event.title }}</h1>
                            <p>{{ event.description }}</p>
                            <div class="date">{{ event.createdAt.format('Y-m-d') }}</div>
                            <div class="tags">
                                <div class="tag">{{ event.user.fullName }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>
{% endblock %}
