<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('assets/css/components/register.css') }}">
    <title>Inscription</title>
</head>
<body>

{{ form_start(form, {'attr': {'id': 'login-form', 'class': 'login-form', 'autocomplete': 'off', 'role': 'main'}}) }}
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
        <label class="label-email">
            {{ form_widget(form.fullName) }}
            <span class="required">Nom</span>
        </label>
    </div>
    <div>
        <label class="label-email">
            {{ form_widget(form.matricule) }}
            <span class="required">Matricule</span>
        </label>
    </div>
    <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3"/>
    <label class="label-show-password" for="show-password">
        <span>Show Password</span>
    </label>
    <div>
        <label class="label-password">
            {{ form_widget(form.password) }}
            <span class="required">Password</span>
        </label>
    </div>
    <input type="submit" value="Inscription"/>
    <div class="email"> Vous avez un compte ?
        <a href="{{ path('app_login') }}">Connectez-vous</a>
    </div>
    <figure aria-hidden="true">
        <div class="person-body"></div>
        <div class="neck skin"></div>
        <div class="head skin">
            <div class="eyes"></div>
            <div class="mouth"></div>
        </div>
        <div class="hair"></div>
        <div class="ears"></div>
        <div class="shirt-1"></div>
        <div class="shirt-2"></div>
    </figure>
    {{ form_end(form) }}
<script src="{{ asset('assets/js/lib/bootstrap.bundle.min.js') }}"></script>
</body>
</html>