{% extends 'base.html.twig' %}

{% block title %}Campus numerique - EventManagersController!{% endblock %}

{% block body %}

    <div class="event-btn">
        <section class="btn-container">
            <a href="{{ path('app_event_list') }}" class="btn btn1 ">Tous les évenements</a>
            <a href="#" class="btn btn2">Mes évenements</a>
        </section>

        <section class="add-btn">
            <a href="{{ path('app_add_event') }}" class="btn">Ajouter +</a>
        </section>
    </div>

    <section class="table-container">

        <table id="myTable">
            <thead>
            <tr>
                <th>N</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>operation</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.catEvent }}</td>
                    <td>{{ event.startAt.format('Y-m-d') }}</td>
                    <td>{{ event.endAt.format('Y-m-d') }}</td>
                    <td>modifier</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </section>

{% endblock %}
