{% extends 'base.html.twig' %}

{% block title %}Campus Numerique - Evenement{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/components/eventDecsit.css') }}">
{% endblock %}

{% block page_title %}
    {{ event.title }}
{% endblock %}



{% block body %}
    <section class="single-event">
        <section class="presentation">
            <div class="event-image" style="background-image: url('{{ event.illustration }}')">
                <img src="../../public{{ event.illustration }}" alt="{{ event.slug }}">
            </div>

            <div class="event-details flex">
                <div class="event-author-details">
                    <div class="event-author-name">lorem</div>
                </div>

                <div class="event-content-details">
                    <h2 class="event-title">{{ event.title }}</h2>
                    <div class="event-createdAt">{{ event.createdAt.format('Y-m-d') }}</div>

                    <div class="event-content">
                        {{ event.description }}
                    </div>
                </div>
            </div>
        </section>

        <section class="comment-user">
            <div class="list-comment">
                {% for comment in comments %}
                    <div class="user-comment">
                        <div class="event-author-details">
                            <div class="event-author-name">{{ comment.author.fullName }}</div>
                        </div>

                        {{ comment.content }}
                    </div>
                {% endfor %}
            </div>
            {{ form_start(form) }}
                {{ form_row(form.content) }}
                <input type="submit" value="Envoye">
            {{ form_end(form) }}
        </section>
    </section>
{% endblock %}
