{% extends 'base.html.twig' %}

{% block title %}Campus Numerique - Evenement{% endblock %}

{% block body %}
    <div class="single-article">
        <div class="single-articles">

            <div class="article-image" style="background-image: url('{{ article.imageUrl }}')">
            </div>

            <div class="article-details flex">
                <div class="article-author-details">
                    <div class="article-author-picture">
                        {{ include('blog/picture.html.twig') }}
                    </div>
                </div>
                <div class="article-content-details">
                    <h2 class="article-title">{{ event.title }}</h2>
                    <div class="article-createdAt">{{  }}</div>

                    <div class="article-categories flex wrap">
                        {% for category in article.categories %}
                            <a href="{{ path('app_article_by_category', {'slug' : category.slug}) }}"
                               class="article-category-item badge">
                                {{ category.name }}
                                ({{ category.articles | length }}) article(s) publié
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="content animate__backInUp">
                {{ article.content | raw }}
            </div>

            {% if app.user is same as (article.author) %}
                <div class="action animate__backInUp">
                    <a href="{{ path('app_article_edit', {'id' : article.id}) }}" class="btn">Edit</a>
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
